<div class="copyright_purus">
    
    <p>All content copyright <a href="/">{{@blog.title}}</a> &copy; 2014 &bull; All rights reserved.<br/>
    Theme created by <a href="http://golem.io">golem.io</a> &bull; Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a></p>
    
</div>