<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left">
    <section class="menu_purus">
        {{> custom/menu this}}
    </section>
    
    <section class="subscribe_purus">
        {{> custom/subscribe this}}
    </section>                  
</div>   