<h6>Menu</h6>

<a href="{{@blog.url}}"><i class="fa fa-book"></i>Blog</a>
<a href="{{@blog.url}}"><i class="fa fa-file"></i>Projects</a>
<a href="{{@blog.url}}/about/"><i class="fa fa-user"></i>About</a>
<a href="{{@blog.url}}/search/"><i class="fa fa-search"></i>Search</a>
